flows/Assistant_AKP_Website.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "websiteakp",
                "options": {}
            },
            "id": "946ad290-5788-4849-97ae-0789818288dd",
            "name": "Odoo_LiveChat_Webhook",
            "position": [
                -1232,
                64
            ],
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "webhookId": "8847108b-bf2b-4c9a-b0b0-b5c4666ac670"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body.active_specialist }}",
                            "value2": "bot"
                        },
                        {
                            "value1": "={{ $json.body.active_specialist }}",
                            "value2": "false"
                        },
                        {
                            "value1": "={{ $json.body.active_specialist }}",
                            "value2": "ventas"
                        }
                    ]
                },
                "combineOperation": "any"
            },
            "id": "fbacbf2a-22cd-4823-abd0-eb8cd9c96b9b",
            "name": "Tiene_Especialista",
            "position": [
                -336,
                64
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 1
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://elantar_odoo_dev:8069/n8n_bridge/update_state",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "id": "bef3c396-de3e-40e7-b54a-e270e938ebe5",
            "name": "Actualizar_Estado_Odoo",
            "position": [
                176,
                -80
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1
        },
        {
            "parameters": {
                "jsCode": "try { /* 1. Inputs Check */ const nodeWebhook = $node[\"Odoo_LiveChat_Webhook\"]; const nodeGrouping = $node[\"Agrupar_Mensajes_V2\"]; const nodeIA = $(\"IA_Analisis_Total\"); const webhookBody = (nodeWebhook && nodeWebhook.json && nodeWebhook.json.body) ? nodeWebhook.json.body : {}; const historyBody = (nodeGrouping && nodeGrouping.json && nodeGrouping.json.body) ? nodeGrouping.json.body : {}; let finalSpecialist = \"ventas\"; let detectedName = webhookBody.author_name || \"Invitado\"; let iaResult = {}; /* 2. Process IA Result */ if (nodeIA && nodeIA.isExecuted) { const rawText = (nodeIA.first().json.text || \"{}\"); const cleanJson = rawText.replace(/```json/g, \"\").replace(/```/g, \"\").trim(); try { iaResult = JSON.parse(cleanJson); } catch (err) { /* ignore parse error */ } finalSpecialist = iaResult.categoria || \"ventas\"; detectedName = iaResult.nombre_detectado || detectedName; } /* 3. Priority Check */ const currentSpec = historyBody.active_specialist || \"\"; const isTechnical = [\"web\", \"apps\", \"marketing\"].includes(currentSpec); if (isTechnical) { finalSpecialist = currentSpec; } /* 4. Return */ return [{ json: { specialist: finalSpecialist.toLowerCase().trim(), history: historyBody.body || \"\", res_id: webhookBody.res_id || 0, context_data: webhookBody.context_data || {} } }]; } catch (error) { return [{ json: { error: error.message, stack: error.stack, location: \"Preparar_Datos_Especialista\" } }]; }"
            },
            "id": "afb4d7a0-2931-4575-80ab-8f0176de71cb",
            "name": "Preparar_Datos_Especialista",
            "position": [
                384,
                80
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 1
        },
        {
            "parameters": {
                "model": "llama-3.1-8b-instant",
                "options": {}
            },
            "id": "03254315-7b02-4acf-8c62-ae996bfcd5ee",
            "name": "Groq_Chat_Model",
            "position": [
                -112,
                48
            ],
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "credentials": {
                "groqApi": {
                    "id": "nfpxWh3Y5sUHefoj",
                    "name": "Venta Elantar"
                }
            }
        },
        {
            "parameters": {
                "amount": 10
            },
            "id": "788a72ea-4bcb-4512-9dea-96353140a84b",
            "name": "Debounce_Wait_10s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                -1008,
                64
            ],
            "webhookId": "383ae8ed-aa50-4374-aba5-2f22e0696057"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://elantar_odoo_dev:8069/n8n_bridge/search_resource",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ \"jsonrpc\": \"2.0\", \"params\": { \"model\": \"mail.message\", \"domain\": [[ \"res_id\", \"=\", $node[\"Odoo_LiveChat_Webhook\"].json[\"body\"][\"res_id\"] ], [ \"model\", \"=\", \"discuss.channel\" ]], \"fields\": [\"id\", \"body\", \"author_id\", \"author_guest_id\"], \"limit\": 80, \"order\": \"id desc\" } }) }}",
                "options": {}
            },
            "id": "b8d6292e-127c-45e7-a003-687995193b11",
            "name": "Obtener_Mensajes_Odoo_V2",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -784,
                64
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "5teRdGkjigDT7pCZ",
                    "name": "Assistente AKP Website"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "try { /* 1. Inputs Check */ const webhookNode = $node[\"Odoo_LiveChat_Webhook\"]; const responseNode = $node[\"Obtener_Mensajes_Odoo_V2\"]; const webhookData = (webhookNode && webhookNode.json && webhookNode.json.body) ? webhookNode.json.body : {}; const response = (responseNode && responseNode.json) ? responseNode.json : {}; const messages = (response.result && response.result.result) ? response.result.result : []; /* 2. Filter System Messages & OdooBot */ const triggerBody = webhookData.body || \"\"; const authorName = webhookData.author_name || \"\"; const authorId = webhookData.author_id; if (authorName === \"OdooBot\" || authorId === 2 || triggerBody.includes(\"o_mail_notification\") || triggerBody.includes(\"abandonó la conversación\") || triggerBody.includes(\"Calificación:\")) { return []; } if (!Array.isArray(messages)) { return [{ json: { error: \"Odoo response is not an array\", raw: response } }]; } /* 3. Concurrency Control */ const triggerMessageId = parseInt(webhookData.message_id || 0); const latestMessageId = messages.length > 0 ? Math.max(...messages.map(m => m.id)) : 0; if (latestMessageId > triggerMessageId) { return []; } /* 4. Processing */ const botPartnerId = 43; /* Extract Current Guest ID from Webhook */ let currentGuestId = null; if (webhookData.author_guest_id) { if (Array.isArray(webhookData.author_guest_id)) currentGuestId = webhookData.author_guest_id[0]; else currentGuestId = webhookData.author_guest_id; } else if (webhookData.author_id && typeof webhookData.author_id === 'string' && webhookData.author_id.startsWith('guest_')) { currentGuestId = parseInt(webhookData.author_id.replace('guest_', '')); } const relevantMessages = messages.filter(function(m) { const isSystem = (m.body || \"\").includes(\"o_mail_notification\"); if (isSystem) return false; /* Guest Logic: Must match current guest if author_guest_id is present */ if (m.author_guest_id) { const mGuestId = Array.isArray(m.author_guest_id) ? m.author_guest_id[0] : m.author_guest_id; if (currentGuestId && mGuestId != currentGuestId) return false; } /* Partner Logic: Exclude Bot ID 43 */ if (m.author_id) { if (Array.isArray(m.author_id) && m.author_id[0] === botPartnerId) return false; } return true; }).sort(function(a, b) { return a.id - b.id; }); /* 5. Grouping */ const groupedBody = relevantMessages.map(function(m) { let emisor = \"Usuario\"; if (Array.isArray(m.author_id) && m.author_id[1]) { emisor = m.author_id[1]; } else if (Array.isArray(m.author_guest_id) && m.author_guest_id[1]) { emisor = m.author_guest_id[1]; } const textoLimpio = (m.body || \"\").replace(/<[^>]*>/g, \"\").replace(/&nbsp;/g, \" \").trim(); return emisor + \": \" + textoLimpio; }).filter(function(linea) { return linea.length > 10; }).join(\"\\n\"); /* 6. Return */ return [{ json: { body: { body: groupedBody, res_id: webhookData.res_id || 0, active_specialist: String(webhookData.active_specialist || \"false\").toLowerCase() }, count: relevantMessages.length } }]; } catch (error) { return [{ json: { error: error.message, stack: error.stack, location: \"Agrupar_Mensajes_V2\" } }]; }"
            },
            "id": "b64b61d1-39ae-4e3b-93de-89d0c0e4b141",
            "name": "Agrupar_Mensajes_V2",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -560,
                64
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "==Responde ÚNICAMENTE con un objeto JSON válido. Está estrictamente prohibido incluir introducciones, explicaciones, bloques de código markdown (```json) o texto fuera del JSON.\n\n### CATEGORÍAS (specialist_id):\n- refiner: Si el interés es sarro, cal, piel seca, protección de tuberías o AquaPro 5000 SXT.\n- purity: Si el interés es agua potable, sabor a cloro, metales, agua alcalina o Aqua600+.\n- service: Si el cliente ya tiene un sistema y busca filtros, reparación o mantenimiento.\n- general: Si es un saludo o información general de la empresa.\n\n### INSTRUCCIONES DE IDIOMA:\n1. Localiza las líneas que empiezan con \"Usuario:\".\n2. Ignora las líneas de \"Virtual Assistant\" o \"OdooBot\" para detectar el idioma.\n3. Determina el idioma basándote EXCLUSIVAMENTE en el último mensaje del \"Usuario\".\n4. Si el Usuario pide explícitamente cambiar de idioma, prioriza ese pedido.\n\n### ESTRUCTURA REQUERIDA:\n{\n  \"categoria\": \"refiner | purity | service | general\",\n  \"idioma\": \"Idioma detectado (ej: Español, Inglés)\",\n  \"resumen\": \"Breve descripción del problema del agua detectado\",\n  \"nombre_detectado\": \"Nombre del cliente o 'Invitado'\",\n  \"city\": \"Ciudad si se menciona, sino 'unknown'\"\n}\n\nHISTORIAL:\n{{ $json.body.body }}"
            },
            "id": "228b0436-cfb0-4e41-8aab-61eafe263a2f",
            "name": "IA_Analisis_Total",
            "position": [
                -112,
                -80
            ],
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "Based on the conversation history provided in the system message, respond to the user's latest message.",
                "options": {
                    "systemMessage": "=Identity: You are the Front-Desk Consultant for Aquakleen (AKP). Your style is agile, professional, and direct. You are an expert in water refining (AquaPro) and purification (Aqua600+).\n\nCRITICAL - NO MEMORY BUFFER:\n- You have NO internal memory of previous terms. You rely 100% on the 'read_odoo_context' tool and the chat history provided.\n- STEP 1 (Implicit): Analyze the User's Message. If it contains new info (Name, City), MEMORIZE IT.\n- STEP 2: Call 'read_odoo_context' to see what we already know.\n- STEP 3: COMPARE.\n    - If Context is missing Name AND User provided it: Call 'update_odoo_context' IMMEDIATELY.\n    - If Context is missing Name AND User did NOT provide it: Ask \"Con quien tengo el gusto?\".\n\nCRITICAL - NO HALLUCINATIONS:\n- NEVER invent user details. If you do not know the name, ASK for it.\n- Do NOT save \"John\" or generic names unless the user explicitly said \"My name is John\".\n- If you are unsure, ASK.\n\nCRITICAL - TOOL USAGE:\n- Tools are for INTERNAL use only. NEVER show <function> tags to the user.\n- IMPORTANT: When calling 'read_odoo_context', you MUST provide a single parameter 'consulta' with EXACTLY the following JSON structure (replace <CHANNEL_ID> with {{ $json.res_id }}):\n\n{\n  \"jsonrpc\": \"2.0\",\n  \"params\": {\n    \"model\": \"n8n.bridge.state\",\n    \"domain\": [[\"channel_id\", \"=\", <CHANNEL_ID>]],\n    \"fields\": [\"active_specialist_id\", \"context_data\"]\n  }\n}\n\n- IMPORTANT: When calling 'update_odoo_context', use the standard parameters (channel_id={{ $json.res_id }}, context_data={...}).\n\nCONTEXT & DATA GATHERING:\n- If the name is generic (\"Invitado\", \"Visitante\") or missing, politely ask: \"¿Con quién tengo el gusto?\" or \"May I have your name?\".\n- Do NOT proceed to the sales pitch until you have at least a Name.\n\nCASE MEMORY (Internal):\nCHANNEL ID: {{ $json.res_id }}\n\n<analisis_ia> IDIOMA: {{ $json.context_data.idioma }} RESUMEN: {{ $json.context_data.concerns }} </analisis_ia>\n\n<ultimo_historial> {{ $json.history }} </ultimo_historial>\n\nQUALIFICATION LADDER (Ask only ONE missing item at a time):\nName.\n\nCity/Location (To verify service area in USA/International).\n\nMain Concern: Hard water/scale (AquaPro) or drinking water purity (Aqua600+)?\n\nGoal: Schedule the Free 15-minute In-Home Water Test.\n\nRESPONSE GUIDE & PRODUCT KNOWLEDGE:\nHard Water/Skin/Scale issues: Pitch the AquaPro 5000 SXT (Multi-stage Refiner, not a basic softener).\n\nPure Drinking Water/Health: Pitch the Aqua600+ (Reverse Osmosis + Alkaline/Antioxidant stage).\n\nPrice inquiries: Do not give quotes. State: \"Prices depend on your home's water chemistry. That is why we provide a free 15-minute lab test on-site.\"\n\nIf data is complete: Inform that a water specialist will contact them to confirm the appointment.\n\nRESPONSE RULE:\nDirect response to the client (maximum 2-3 lines).\n\nNo unnecessary introductions or \"fluff\".\n\nAlways bridge to the Free Water Test."
                }
            },
            "id": "ec66db5d-af09-4a58-86a2-e31fe0966715",
            "name": "Agente_Ventas_Onboarding",
            "position": [
                592,
                80
            ],
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7
        },
        {
            "parameters": {
                "model": "llama-3.1-8b-instant",
                "options": {}
            },
            "id": "8a9df821-cf1c-4064-8e3c-f10242426741",
            "name": "Groq_Model",
            "position": [
                560,
                240
            ],
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "credentials": {
                "groqApi": {
                    "id": "nfpxWh3Y5sUHefoj",
                    "name": "Venta Elantar"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://elantar_odoo_dev:8069/n8n_bridge/chat_response",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"channel_id\":{{ $('Preparar_Datos_Especialista').item.json.res_id }},\n  \"body\": {{ JSON.stringify($json.output) }},\n  \"token\": \"elantar_n8n_bridge_2025\"\n}",
                "options": {}
            },
            "id": "6adf98e5-535f-46a2-8870-4c87c60362aa",
            "name": "Enviar_Respuesta_Odoo",
            "position": [
                944,
                80
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "5teRdGkjigDT7pCZ",
                    "name": "Assistente AKP Website"
                }
            }
        },
        {
            "parameters": {
                "name": "update_odoo_context",
                "toolDescription": "Guardar información del usuario (nombre, ciudad, etc) en la base de datos. Call this whenever you learn new info.",
                "method": "POST",
                "url": "http://elantar_odoo_dev:8069/n8n_bridge/update_state",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ \"jsonrpc\": \"2.0\", \"params\": { \"channel_id\": $('Odoo_LiveChat_Webhook').item.json.body.res_id, \"specialist_id\": \"bot\", \"token\": \"elantar_n8n_bridge_2025\", \"context_data\": { \"name\": $fromAI(\"name\"), \"city\": $fromAI(\"city\"), \"email\": $fromAI(\"email\"), \"phone\": $fromAI(\"phone\"), \"state\": $fromAI(\"state\"), \"country\": $fromAI(\"country\"), \"idioma\": $fromAI(\"idioma\"), \"concerns\": $fromAI(\"concerns\"), \"notes\": $fromAI(\"notes\") } } }) }}"
            },
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1,
            "position": [
                768,
                256
            ],
            "id": "4bb16ec9-c2a0-43dc-a4fa-4e0da1d262cd",
            "name": "Tool_Guardar_Contexto"
        },
        {
            "parameters": {
                "jsCode": "try { /* 1. Get Input */ const nodeIA = $('IA_Analisis_Total').first(); const nodeWebhook = $('Odoo_LiveChat_Webhook').first(); const rawText = (nodeIA && nodeIA.json) ? (nodeIA.json.text || \"{}\") : \"{}\"; const webhookBody = (nodeWebhook && nodeWebhook.json && nodeWebhook.json.body) ? nodeWebhook.json.body : {}; const res_id = webhookBody.res_id || 0; /* 2. Parse AI Response */ const cleanText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\").trim(); let ia = {}; try { ia = JSON.parse(cleanText); } catch (e) { ia = { nombre_detectado: \"Invitado\", city: \"unknown\", idioma: \"es\", resumen: \"Error parseo IA\", categoria: \"general\" }; } /* 3. Return Array for n8n */ return [{ json: { jsonrpc: \"2.0\", params: { channel_id: res_id, specialist_id: \"bot\", token: \"elantar_n8n_bridge_2025\", context_data: { name: ia.nombre_detectado || \"Invitado\", city: ia.city || \"unknown\", email: \"unknown\", phone: \"unknown\", state: \"unknown\", country: \"unknown\", idioma: ia.idioma || \"Español\", concerns: ia.resumen || \"Sin resumen\", notes: \"Categoría detectada: \" + (ia.categoria || \"general\") } } } }]; } catch (error) { return [{ json: { error: error.message, stack: error.stack, location: \"Parsear_IA\" } }]; }"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                48,
                -80
            ],
            "id": "1ba54570-af0c-4461-9265-38e5e192b2a6",
            "name": "Parsear_IA"
        }
    ],
    "connections": {
        "Odoo_LiveChat_Webhook": {
            "main": [
                [
                    {
                        "node": "Debounce_Wait_10s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tiene_Especialista": {
            "main": [
                [
                    {
                        "node": "IA_Analisis_Total",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Preparar_Datos_Especialista",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Actualizar_Estado_Odoo": {
            "main": [
                [
                    {
                        "node": "Preparar_Datos_Especialista",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar_Datos_Especialista": {
            "main": [
                [
                    {
                        "node": "Agente_Ventas_Onboarding",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq_Chat_Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "IA_Analisis_Total",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Debounce_Wait_10s": {
            "main": [
                [
                    {
                        "node": "Obtener_Mensajes_Odoo_V2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Obtener_Mensajes_Odoo_V2": {
            "main": [
                [
                    {
                        "node": "Agrupar_Mensajes_V2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agrupar_Mensajes_V2": {
            "main": [
                [
                    {
                        "node": "Tiene_Especialista",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IA_Analisis_Total": {
            "main": [
                [
                    {
                        "node": "Parsear_IA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente_Ventas_Onboarding": {
            "main": [
                [
                    {
                        "node": "Enviar_Respuesta_Odoo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq_Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Agente_Ventas_Onboarding",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool_Guardar_Contexto": {
            "ai_tool": [
                [
                    {
                        "node": "Agente_Ventas_Onboarding",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Parsear_IA": {
            "main": [
                [
                    {
                        "node": "Actualizar_Estado_Odoo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "8d92162fb65bdb9434e701c86866da809de199582977c7568f8547c6013941e5"
    }
}