flows/subagente_marketing.json
{"createdAt":"2025-12-22T21:43:30.200Z","updatedAt":"2026-01-02T05:26:18.156Z","id":"ksIb4ZaQRE1fgbfB","name":"DEV_GC_Especialista_Marketing_Handover_v18_Final_Secure","active":false,"isArchived":false,"nodes":[{"credentials":{"groqApi":{"id":"nfpxWh3Y5sUHefoj","name":"Venta Elantar"}},"id":"groq-lm-marketing-sec","name":"Groq_Chat_Model_Marketing","parameters":{"model":"llama-3.1-8b-instant","options":{}},"position":[250,450],"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1},{"id":"ai-agent-marketing-sec","name":"IA_Especialista_Marketing","parameters":{"options":{"systemMessage":"=Eres el Especialista en Marketing Digital de Elantar. Tu objetivo es obtener: \n1. Canales de interés (SEO, SEM, Redes sociales).\n2. Metas comerciales.\n3. Presupuesto mensual.\n\nInformación extraída de Odoo: {{$json.context_data || 'Ninguna'}}\nHistorial reciente consolidado: {{$json.history || 'Ninguno'}}\nCliente: {{$json.author_name || 'Invitado'}}\n\nResponde de manera profesional y haz la siguiente pregunta necesaria basándote en lo que ya sabes."},"promptType":"define","text":"={{ $json.body.body }}"},"position":[250,250],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7},{"id":"chat-memory-marketing-sec","name":"Window_Buffer_Memory","parameters":{},"position":[400,550],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"id":"odoo-response-marketing-sec","name":"Odoo_Final_Response","parameters":{"headerParameters":{"parameters":[{"name":"X-N8N-Token","value":"elantar_n8n_bridge_2025"}]},"jsonBody":"={\n  \"channel_id\": {{ $('Execute_Workflow_Trigger').item.json.body.res_id }},\n  \"body\": {{ JSON.stringify($json.output) }},\n  \"token\": \"elantar_n8n_bridge_2025\"\n}","method":"POST","sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"http://elantar_odoo_dev:8069/n8n_bridge/chat_response"},"position":[550,250],"type":"n8n-nodes-base.httpRequest","typeVersion":4.1},{"id":"execute-trigger-marketing-sec","name":"Execute_Workflow_Trigger","parameters":{},"position":[0,250],"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1}],"connections":{"Execute_Workflow_Trigger":{"main":[[{"index":0,"node":"IA_Especialista_Marketing","type":"main"}]]},"Groq_Chat_Model_Marketing":{"ai_languageModel":[[{"index":0,"node":"IA_Especialista_Marketing","type":"ai_languageModel"}]]},"IA_Especialista_Marketing":{"main":[[{"index":0,"node":"Odoo_Final_Response","type":"main"}]]},"Window_Buffer_Memory":{"ai_memory":[[{"index":0,"node":"IA_Especialista_Marketing","type":"ai_memory"}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"cc6d3ce1-bbbb-4aa7-a61a-c87d30af801c","triggerCount":0,"shared":[{"createdAt":"2025-12-22T21:43:30.200Z","updatedAt":"2025-12-22T21:43:30.200Z","role":"workflow:owner","workflowId":"ksIb4ZaQRE1fgbfB","projectId":"sUTPva3qvRNjsePr","project":{"createdAt":"2025-07-28T20:56:30.546Z","updatedAt":"2025-12-22T21:18:00.321Z","id":"sUTPva3qvRNjsePr","name":"Osiel  Valdivie <ventaelantar@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-28T20:56:30.546Z","updatedAt":"2025-07-28T20:56:30.546Z","userId":"77acad69-72c1-425b-8d64-e30ccb09de1c","projectId":"sUTPva3qvRNjsePr","user":{"createdAt":"2025-07-28T20:56:28.970Z","updatedAt":"2026-01-02T03:00:01.362Z","id":"77acad69-72c1-425b-8d64-e30ccb09de1c","email":"ventaelantar@gmail.com","firstName":"Osiel","lastName":" Valdivie","personalizationAnswers":{"companyType":"saas","role":"business-owner","automationBeneficiary":"myself","companySize":"<20","reportedSource":"youtube","version":"v4","personalization_survey_submitted_at":"2025-07-28T21:04:46.699Z","personalization_survey_n8n_version":"1.45.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"HprMrgwIX6mwQ1vM","userActivatedAt":1754006813556,"npsSurvey":{"responded":true,"lastShownAt":1758905693903},"dismissedCallouts":{"preBuiltAgentsModalCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-02","isPending":false}}]}}],"tags":[]}