flows/subagente_web.json
{"createdAt":"2025-12-22T21:43:29.597Z","updatedAt":"2026-01-02T05:36:04.205Z","id":"mdc7PbFwxXZKimSj","name":"DEV_GC_Especialista_Web_Handover_v18_Final_Secure","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"id":"groq-lm-web-sec","name":"Groq_Chat_Model_Web","position":[256,464],"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"credentials":{"groqApi":{"id":"nfpxWh3Y5sUHefoj","name":"Venta Elantar"}}},{"parameters":{"promptType":"define","text":"={{ $json.body.body }}","options":{"systemMessage":"=Eres el Especialista en Desarrollo Web de Elantar. Tu objetivo es obtener: \n1. Stack preferido (ej: React, Vue, PHP).\n2. Presupuesto estimado.\n3. Tipo de sitio (E-commerce, Corporativo, etc.).\n\nInformación extraída de Odoo: {{$json.context_data || 'Ninguna'}}\nHistorial reciente consolidado: {{$json.history || 'Ninguno'}}\nCliente: {{$json.author_name || 'Invitado'}}\n\nResponde de manera profesional y haz la siguiente pregunta necesaria basándote en lo que ya sabes."}},"id":"ai-agent-web-sec","name":"IA_Especialista_Web","position":[256,256],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7},{"parameters":{},"id":"chat-memory-web-sec","name":"Window_Buffer_Memory","position":[400,560],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"parameters":{"method":"POST","url":"http://elantar_odoo_dev:8069/n8n_bridge/chat_response","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-Token","value":"elantar_n8n_bridge_2025"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel_id\": {{ $('Trigger_Router').item.json.body.res_id }},\n  \"body\": {{ JSON.stringify($json.output) }},\n  \"token\": \"elantar_n8n_bridge_2025\"\n}","options":{}},"id":"odoo-response-web-sec","name":"Odoo_Final_Response","position":[560,256],"type":"n8n-nodes-base.httpRequest","typeVersion":4.1},{"parameters":{},"id":"a1ce694f-550c-44f9-8a0e-771e4a7b1880","name":"Trigger_Router","position":[32,256],"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1}],"connections":{"Groq_Chat_Model_Web":{"ai_languageModel":[[{"index":0,"node":"IA_Especialista_Web","type":"ai_languageModel"}]]},"IA_Especialista_Web":{"main":[[{"index":0,"node":"Odoo_Final_Response","type":"main"}]]},"Window_Buffer_Memory":{"ai_memory":[[{"index":0,"node":"IA_Especialista_Web","type":"ai_memory"}]]},"Trigger_Router":{"main":[[{"node":"IA_Especialista_Web","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"20cf6901-d2c1-41c1-b4c9-638cfc10f3a6","triggerCount":0,"shared":[{"createdAt":"2025-12-22T21:43:29.597Z","updatedAt":"2025-12-22T21:43:29.597Z","role":"workflow:owner","workflowId":"mdc7PbFwxXZKimSj","projectId":"sUTPva3qvRNjsePr","project":{"createdAt":"2025-07-28T20:56:30.546Z","updatedAt":"2025-12-22T21:18:00.321Z","id":"sUTPva3qvRNjsePr","name":"Osiel  Valdivie <ventaelantar@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-28T20:56:30.546Z","updatedAt":"2025-07-28T20:56:30.546Z","userId":"77acad69-72c1-425b-8d64-e30ccb09de1c","projectId":"sUTPva3qvRNjsePr","user":{"createdAt":"2025-07-28T20:56:28.970Z","updatedAt":"2026-01-02T03:00:01.362Z","id":"77acad69-72c1-425b-8d64-e30ccb09de1c","email":"ventaelantar@gmail.com","firstName":"Osiel","lastName":" Valdivie","personalizationAnswers":{"companyType":"saas","role":"business-owner","automationBeneficiary":"myself","companySize":"<20","reportedSource":"youtube","version":"v4","personalization_survey_submitted_at":"2025-07-28T21:04:46.699Z","personalization_survey_n8n_version":"1.45.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"HprMrgwIX6mwQ1vM","userActivatedAt":1754006813556,"npsSurvey":{"responded":true,"lastShownAt":1758905693903},"dismissedCallouts":{"preBuiltAgentsModalCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-02","isPending":false}}]}}],"tags":[]}