flows/subagente_ventas.json
{"createdAt":"2026-01-01T17:18:12.556Z","updatedAt":"2026-01-02T05:20:38.096Z","id":"fosld3xZ0rFFj3Wh","name":"DEV_GC_Agente_Ventas_Onboarding_Secure_V2","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"trigger-id","name":"Trigger_Router","position":[0,0],"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1},{"parameters":{"options":{"systemMessage":"=Eres el Agente de Ventas de Elantar. Tu objetivo es recibir a los clientes y recolectar: Nombre, Ciudad, Tipo de Empresa y Necesidad Global. \n\nInstrucciones:\n1. Sé amable y profesional. Saluda si es el primer mensaje.\n2. Tu meta es entender qué necesita para enviarlo al especialista correcto (Web, Apps o Marketing). \n3. Intenta agendar una visita técnica física o reunión online.\n4. Cuando tengas la información, dile al usuario que un especialista continuará la charla.\n\nInformación extraída de Odoo: {{$json.context_data || 'Ninguna'}}\nHistorial reciente consolidado: {{$json.history || 'Ninguno'}}\nCliente: {{$json.author_name || 'Invitado'}}"},"promptType":"define","text":"={{ $json.body.body }}"},"id":"ai-agent-id","name":"Agente_Ventas_Onboarding","position":[224,0],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"disabled":false},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"id":"groq-model-id","name":"Groq_Model","position":[192,192],"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"credentials":{"groqApi":{"id":"nfpxWh3Y5sUHefoj","name":"Venta Elantar"}}},{"parameters":{"contextKey":"={{ $json.sessionId }}"},"id":"memory-id","name":"Memory_Buffer","position":[304,192],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"parameters":{"authentication":"none","contentType":"json","headerParameters":{"parameters":[{"name":"X-N8N-Token","value":"elantar_n8n_bridge_2025"}]},"jsonBody":"={\n  \"channel_id\": {{ $('Trigger_Router').item.json.res_id || $('Execute_Workflow_Trigger').item.json.body.res_id }},\n  \"body\": {{ JSON.stringify($json.output) }},\n  \"token\": \"elantar_n8n_bridge_2025\"\n}","method":"POST","sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"http://elantar_odoo_dev:8069/n8n_bridge/chat_response"},"id":"http-response-id","name":"Enviar_Respuesta_Odoo","position":[576,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.1}],"connections":{"Agente_Ventas_Onboarding":{"main":[[{"index":0,"node":"Enviar_Respuesta_Odoo","type":"main"}]]},"Groq_Model":{"ai_languageModel":[[{"index":0,"node":"Agente_Ventas_Onboarding","type":"ai_languageModel"}]]},"Memory_Buffer":{"ai_memory":[[{"index":0,"node":"Agente_Ventas_Onboarding","type":"ai_memory"}]]},"Trigger_Router":{"main":[[{"index":0,"node":"Agente_Ventas_Onboarding","type":"main"}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"307254cb-a61e-42b7-8a12-bab1e44c30de","triggerCount":0,"shared":[{"createdAt":"2026-01-01T17:18:12.556Z","updatedAt":"2026-01-01T17:18:12.556Z","role":"workflow:owner","workflowId":"fosld3xZ0rFFj3Wh","projectId":"sUTPva3qvRNjsePr","project":{"createdAt":"2025-07-28T20:56:30.546Z","updatedAt":"2025-12-22T21:18:00.321Z","id":"sUTPva3qvRNjsePr","name":"Osiel  Valdivie <ventaelantar@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-28T20:56:30.546Z","updatedAt":"2025-07-28T20:56:30.546Z","userId":"77acad69-72c1-425b-8d64-e30ccb09de1c","projectId":"sUTPva3qvRNjsePr","user":{"createdAt":"2025-07-28T20:56:28.970Z","updatedAt":"2026-01-02T03:00:01.362Z","id":"77acad69-72c1-425b-8d64-e30ccb09de1c","email":"ventaelantar@gmail.com","firstName":"Osiel","lastName":" Valdivie","personalizationAnswers":{"companyType":"saas","role":"business-owner","automationBeneficiary":"myself","companySize":"<20","reportedSource":"youtube","version":"v4","personalization_survey_submitted_at":"2025-07-28T21:04:46.699Z","personalization_survey_n8n_version":"1.45.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"HprMrgwIX6mwQ1vM","userActivatedAt":1754006813556,"npsSurvey":{"responded":true,"lastShownAt":1758905693903},"dismissedCallouts":{"preBuiltAgentsModalCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-02","isPending":false}}]}}],"tags":[]}